@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font: normal 100%/1.5 Aileron,helvetica,sans-serif;
	font-size: 16px;
	background-color: black;
}

 @font-face { font-family: DalaFloda; src: url('DalaFloda.otf'); } 
 @font-face { font-family: Aileron; src: url('Aileron.otf'); } 

/* start intro */

.intro-section {
	background: transparent url("../img/background.jpg") no-repeat center top;
	background-size: cover;
	height: 15em;
	overflow: hidden;
}


h1 {
	font-size: 1em;
	text-align: center;
	line-height: 1.75;
	color:#f0f0f0;
	padding-top: 3em;
	padding-bottom: 1em;
	
	}

h2 {
	font-size: 0.50em;
	font-style: thin;
	text-align: center;
	color:#f0f0f0;
	line-height: 1.75;

}

strong {
	 font-family: DalaFloda, serif;
}

/* end intro */

/* start nav */

.fixed-nav {
	padding: 2em 0 2em 0;
	background-color: #F0F0F0;
	text-align: center;
	clear: both;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	margin: 0 10% 0 10%;
	text-align: center;
}

nav li {
	padding: 0 0 .5em 0;
	font-size: 1em;
	text-align: center;
	f

}

nav li a {
	text-decoration: none;
	color: #000000;
	padding-right: 1.2em;
}

.nav-left {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.3em;
}

header nav li a:hover {
	color: #993333;
}

/* end nav */

/* start portfolio */

.work-section {
	background-color: #f0f0f0;
}

.work-list {
	padding: 5% 0 0 0;
}

.work-list figure {
	margin:0;
	display:block;
	color: #999;
	position: relative;
	width: 100%;
	height: 100%;
}

.work-list img {
	display:block;
	width: 100%;
}

.work-list li {
	display:inline-block;
	width: 100%;
}

.overlay {
	display: block;
	position: absolute;
	background-color: #ffffff;
	opacity: 0;
	width: 100%;
	height: 100%;

	transition: all 200ms linear;
}

.overlay:hover	{
	opacity: .8;
}

/* end portfolio */

/*start footer*/
.contact-section {
font-size: 1.5em;
width: 100%;
height: 9em;
padding: 15% 0px 15% 0;
text-align: #a1a1a1;
}

/*end footer*/

/* start media queries */

@media only screen and (min-width: 22em) {

h1{
	font-size: 1.60em;
}

h2{
	font-size: 0.80em;
}

.intro-section {
	height: 25em;

}
}

@media only screen and (min-width: 30em) {

h1{
	font-size: 1.60em;
}

h2{
	font-size: 0.80em;
}

.intro-section {
	height: 25em;

}

nav ul {
	text-align: right;
	display: block;
	margin: 0 10% 0 10%;
}

nav li {
	padding: 0 0 .5em 0;
	font-size: 1em;
	float: right;
}

nav li a {
	padding-right: 1.2em;
}

.nav-left {
	text-align: left;
	float: left;
	display: block;
	clear: both;
}
}

@media only screen and (min-width: 45em) {

.intro-section {
	height: 45em;
}
	
h1{
	font-size: 2.5em;
}

h2{
	font-size: 1.5em;
}

.work-list {
	text-align: left;
	list-style-type: none;
	margin:0px -10px;
	padding:0px;
}

.work-list a,
.work-list a:link,
.work-list a:visited {
	border: 0px;
	color: #000;
	font-style:italic;
	text-decoration: none;
}

.work-list img {
	display:block;
	width: 100%;
}
.work-list li {
	display:inline-block;
	width: 49%;
}
}

@media only screen and (min-width: 60em) {

h1{
	font-size: 2.5em;
}

h2{
	font-size: 1.5em;
}

.work-list {
	text-align: left;
	list-style-type: none;
	margin:0px -10px;
	padding:0px;
}

.work-list a,
.work-list 	a:link,
.work-list a:visited {
	border: 0px;
	color: #000;
	font-style:italic;
	text-decoration: none;
}

.work-list img {
	display:block;
	width: 100%;
}
	.work-list li {
	display:inline-block;
	width: 32.9%;
}
}

/* end nav */

